[Unit]
Description=开启3f-vision项目docker compose服务
After=docker.service

[Service]
EnvironmentFile=/home/ywang/.config/systemd/user/3f_vision.env
WorkingDirectory=/home/ywang
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose -f /home/ywang/Documents/3F-Bee-Vision/M0_schedular/docker/compose/docker-compose.yaml up redis telemeter remote_control image_receiver quality yolov5

Restart=always
RestartSec=3

StandardOutput=append:/home/ywang/3f-vision-service.log
StardardError=append:/home/ywang/my-start-redis-error.log

[Install]
WantedBy=default.target